@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');


    /* begin reset css */
:root {
    font-size: 10px;
}

*, *::before, *::after {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    z-index: 0;
    box-sizing: border-box;
} 

    /* end reset css  */

:root {
    --Red: hsl(0, 100%, 68%);
    --veryDarkBlue: hsl(230, 29%, 20%);
    --darkGrayishBlue:  hsl(230, 11%, 40%);
    --grayishBlue: hsl(231, 7%, 65%);
    --lightGrayishBlue: hsl(207,33%, 95%);
}

body {
    font-size: 1.8rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    line-height: 1.444;
    background-color: white;
}

.main {
    margin-left: 16.5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6.4rem 16.5rem 16.5rem 0;
}

nav ul,
.menu ul {
    list-style-type: none;
}

nav li
 {
    display: inline;
    padding: 2rem;
}

nav a,
.menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1;
    color: var(--veryDarkBlue);
}

nav a:hover,
.menu a:hover {
    color: var(--Red);
}

button,
button:active {
    border: none;
    outline: none;
}

.menu {
    display: none;
    position: fixed;
    z-index: 1;
    text-align: center;
    top: 100px;
    width: 100%; 
}

.menu ul {
    display: inline-block;
    z-index: 1;
    background-color: white;
    border-radius: 3px;
    padding-bottom: 24px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.menu a {
    display: block;
    letter-spacing: 1.2px;
    margin: 24px 122px 0 122px;
}

.line {
    width: 263px;
    height: 1px;
    opacity: 15%;
    background-color: var(--veryDarkBlue);
    margin: auto;
    margin-top: 24px;
}


.oval {
    display: inline-block;
    background-color: var(--veryDarkBlue);
    height: 6px;
    width: 6px;
    border-radius: 60px;
    opacity: 15%;
}

.login {
    opacity: 50%;
}

.hamburger {
    display: none;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section {
    width: 51%;
}

.new {
    display: inline-block;
    background-color: var(--veryDarkBlue);
    color: white;
    padding: 4px 10px;
    border-radius: 12.5px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-bottom: 16px;
}

.faded-caps {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    opacity: 50%;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

h1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
}

.motto {
    opacity: 75%;
    margin-bottom: 7.9rem;
}

.demo {
    text-decoration: none;
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.107rem;
    background-color: #FF5E5E;
    color: white;
    padding: 1.5rem 3.2rem;
    border-radius: 5px;
    opacity: 100%;
    margin-right: 24px;
}

.demo:hover {
    background-color: #FF8686;
}

.image-container {
    width: 49%;
    margin-right: 2.4rem;
}

.rectangle {
    width: 49%;
    height: 48%;
    background-color: #EDF2F6;
    border-radius: 0 0 0 60px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

@media only screen and (max-width: 980px) {

.main {
    margin: 0;
}

nav {   
    margin: 5rem 3.2rem 7.8rem 3.2rem;
}

nav ul {
    display: none;
    
}



.hamburger {
    display: inline;
}

.content-container {
    flex-direction: column-reverse;
}

section {
    margin-top: 3rem;
    width: auto;
}


h1 {
    font-size: 4rem;
    margin-bottom: 1.6rem;
}

.motto {
    margin-bottom: 2.7rem;
}

.demo {   
    font-size: 1.4rem;
    letter-spacing: 0.93px;
    padding: 1.2rem 2.4rem;
    margin: 0 2rem 9.2rem 0;
}

.preview {
    font-size: 1.4rem;
    letter-spacing: 2.5px;
}


.image-container img {
    width: 482px;
}

.rectangle {
    width: 49%;
    height: 48%;
    background-color: #EDF2F6;
    border-radius: 0 0 0 60px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}


}